@font-face {
    font-family: 'JetBrainsMono';
    src:
        url('../fonts/jetbrains_mono/jetbrainsmono-regular-webfont.woff2')
            format('woff2'),
        url('../fonts/jetbrains_mono/jetbrainsmono-regular-webfont.woff')
            format('woff');
}

@font-face {
    font-family: 'GeistVF';
    src:
        url('../fonts/geist_sans/GeistVF.woff2') format('woff2'),
        url('../fonts/geist_sans/GeistVF.woff') format('woff');
    /* font-weight: normal;
    font-style: normal; */
}

@font-face {
    font-family: 'GeistMonoVF';
    src:
        url('../fonts/geist_mono/GeistMonoVF.woff2') format('woff2'),
        url('../fonts/geist_mono/GeistMonoVF.woff') format('woff');
}
